.whatHostUsed{
            padding: 0;
            margin: 0;
            position: fixed;
            
            z-index:9999;
        }
        .whatHostUsedLeft{
            bottom: 0px;
            left:0px;
        }
        .whatHostUsedRight{
            bottom: 0px;
            right:0px;
        }
        .whatHostUsed ul {
            padding: 0;
            margin: 0 3px 3px 3px;
        }
        .whatHostUsed li {
            padding: 0;
            list-style: none;
            margin-bottom: 3px; 
        }
        .whatHostUsedRight li {
            text-align: right;
        }
        .whatHostUsed span{
            display: inline-block;
            padding: 2px 3px;
            border-radius: 5px;
            color: #FFF;
            font-size:10px;
            font-weight: bolder;
            background: #33c86a;
        }

        .whatHostUsed .fore-li span.fore1{
            background: #33c86a;
        }
        .whatHostUsed .fore-li span.fore2{
            background: #33c86a;
            margin-left:5px; 
        }