.whatHostUsed{
    padding: 0;
    margin: 0;
    position: fixed!important;
    font-size: 10px!important;
    z-index: 9999!important;
    font-family: SimSun, "Arial Narrow", HELVETICA !important;
}
.whatHostUsedLeft{
    bottom: 0px !important;
    left: 0px !important;
    font-family: SimSun, "Arial Narrow", HELVETICA !important;
}
.whatHostUsedRight{
    bottom: 0px !important;
    right: 0px !important;
    font-family: SimSun, "Arial Narrow", HELVETICA !important;
}
.whatHostUsed ul {
    padding: 0 !important;
    margin: 0 3px 0 3px !important;
    font-family: SimSun, "Arial Narrow", HELVETICA !important;
}
.whatHostUsed li {
    display: block !important;
    padding: 0 !important;
    list-style: none !important;
    margin-bottom: 3px !important; 
    font-family: SimSun, "Arial Narrow", HELVETICA !important;
}
.whatHostUsedRight li {
    text-align: right !important;
    font-weight: normal !important;
    font-family: SimSun, "Arial Narrow", HELVETICA !important;
}
.whatHostUsed span{
    height: 20px !important;
    line-height: 20px !important;
    display: inline-block !important;
    padding: 0px 5px !important;
    border-radius: 5px !important;
    color: #FFF !important;
    font-size: 10px !important;
    font-weight: 700 !important;
    font-family: SimSun, "Arial Narrow", HELVETICA !important;
}
.whatHostUsedRight .fore-li{
    float: none !important;
    font-family: SimSun, "Arial Narrow", HELVETICA !important;
}
.whatHostUsed .fore-li span.fore2{
    margin-left: 3px !important;
    margin-right: 3px !important;
    font-family: SimSun, "Arial Narrow", HELVETICA !important;
}