body {
	min-width: 500px
}
#app {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#app .column.is-narrow, .column.is-narrow-tablet {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}
.columns:not(:last-child) {
	margin-bottom: 0;
}
/*.lists {
	float: left;
	width: 250px;
	padding-left: 1.5rem;
}
.rules-detail-wrap {
	position: absolute;
	margin-left: 250px;
}*/
.lists {
	border-right: 1px solid #ccc;
}
.rules-list li {
	cursor: pointer;
}
.rules-list li:hover{
	background: whitesmoke;
}
.fa-lg {
	font-size: 1em;
    line-height: 0.75em;
    vertical-align: -12%;
}
.rules-list li span.small {
	font-size: 0.75rem;
}
.rules-detail-wrap {
	/*border-left: 1px solid #333;*/
}
.rules-detail-wrap .textarea{
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	resize: none;
}
.isshow .text{
	display: none;
}
.isshow .is-hidden {
	display: inline !important;
}
.add .icon,
.save .icon {
	cursor: pointer;
}