<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Settings</title>
	<link rel="stylesheet" type="text/css" href="./css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="./css/popup.css">
	<script type="text/javascript" src="./js/vue.csp.js"></script>
</head>
<body>
	<div id="app" class="columns show-ip-wrap">
		<div class="column is-narrow lists">
			<div class="is-clearfix">
				<div class='add is-pulled-left' v-on:click="add_domain">
					<span class="icon  has-text-info">
						<i class="fa fa-plus-square" aria-hidden="true"></i>
					</span>
				</div>
				<div class="save is-pulled-right" v-on:click="save">
					<span class="icon has-text-info">
						<i v-if='clicked' class="fa fa-check" aria-hidden="true"></i>
						<i v-if='!clicked' class="fa fa-floppy-o" aria-hidden="true"></i>
					</span>
				</div>
			</div>
			
			<ul class="rules-list">
				<li v-on:click="show_default_setting_desc">
					<span class="fa has-text-info fa-lg" v-on:click="set_setting">
						<i v-if="!setting" class="fa fa-toggle-off" aria-hidden="true"></i>
						<i v-if="setting" class="fa fa-toggle-on" aria-hidden="true"></i>
					</span>
					<span class="text small">Default Setting</span>
				</li>
				<li v-for="item in domainLists" v-on:click="show_detail($index)" class="is-clearfix">
					<div class="is-pulled-left" v-bind:class="{isshow: item.isedit}">
						<strong>
							<span v-on:click="setting_domain($index)" class="fa has-text-info fa-lg">
								<i v-if="!item.enable" class="fa fa-toggle-off" aria-hidden="true"></i>
								<i v-if="item.enable" class="fa fa-toggle-on" aria-hidden="true"></i>
							</span>
						</strong>
						<span  class="text small">{{ item.page }}</span>
						<span class="is-hidden">
							<input type="text" v-model="item.page">
						</span>
					</div>
					<div class="is-pulled-right">
						<span class="icon has-text-info">
							<i v-on:click="edit($index)" class="fa fa-pencil" aria-hidden="true"></i>
						</span>
						<span class="icon has-text-danger">
							<i v-on:click="del($index)" class="fa fa-window-close" aria-hidden="true"></i>
						</span>
					</div>
				</li>
				<!-- <li class="is-show is-clearfix">
					<div class="is-pulled-left">	
						<strong>
							<span class="fa has-text-info fa-lg">
								<i class="fa fa-toggle-on" aria-hidden="true"></i>
							</span>
						</strong>
						<span class="text">Enter Page Domain</span>
						<span class="is-hidden">
							<input type="text" value="" placeholder="Enter Page Domain">
						</span>
					</div>
				</li> -->
			</ul>
		</div>
		<div class="column rules-detail-wrap">
			<textarea v-model="textarea" v-on:keyup="set_detail" id="rules-detail" class="textarea is-small" placeholder="例：www.test.com"></textarea>
		</div>
	
	</div>
	<script type="text/javascript" src="./js/popup.js"></script>
</body>
</html>